
$hexWidth: 50px;
$hexHeight: 60px;
$hexBackgroundSize: 51px;

div#map {
  position: absolute;
  top: 15px;
  left: -25px;
  z-index: 0;
  display: inline-block;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-top: 50px;
  vertical-align: top;
  text-align: center;
}

.map-row {
  display: none;
  white-space: nowrap;
}

.map-shift {
  display: inline-block;
  width: 20px;
}

.map-cell {
  display: inline-block;
  width: $hexWidth;
  height: $hexHeight;
  text-align: center;
  margin-left: -5px;
  margin-bottom: -3px;
  margin-top: -15px;
}

.map-cell.off-screen {
  display: none;
}

.map-cell.clickable, .map-cell.clickable div {
  cursor: pointer;
}

.map-cell.notDiscovered {
  background-color: black;
}

.tile-stack {
  width: $hexWidth;
  height: $hexHeight;
  position: absolute;
}

.tile-stack {
  background-repeat: no-repeat;
  background-position: center;
}

.layer-water {
  background-image: url(/images/map/water.png);
  background-size: $hexBackgroundSize;
}

.layer-ground.ground-grassland {
  background-image: url(/images/map/grassland.png);
  background-size: $hexBackgroundSize;
}

/* ROAD */

.layer-road {
  background-size: 60px;
}

.layer-road.road-lone {
  background-image: url(/images/map/road/lone.png);
}

.layer-road.road-left {
  background-image: url(/images/map/road/left.png);
}

.layer-road.road-right {
  background-image: url(/images/map/road/right.png);
}

.layer-road.road-top {
  background-image: url(/images/map/road/top.png);
}

.layer-road.road-bottom {
  background-image: url(/images/map/road/bottom.png);
}

/* */

.layer-territory.territory-1 {
  background-color: rgba(250, 60, 250, 0.5);
}

.layer-territory.territory-2 {
  background-color: rgba(250, 10, 150, 0.5);
}

.layer-unit {
  background-size: auto 45px;
}

.map-cell.fog .layer-unit {
  display: none;
}
