
$hexWidth1: 50px;
$hexHeight1: 60px;
$hexBackgroundSize1: 51px;

$hexWidth2: 100px;
$hexHeight2: 120px;
$hexBackgroundSize2: 102px;

$hexWidth3: 300px;
$hexHeight3: 180px;
$hexBackgroundSize3: 152px;

.map-cell,
.tile-stack {
  width: $hexWidth1;
  height: $hexHeight1;
  background-size: $hexBackgroundSize1;
}

div#map.map-zoom-2 {
  .map-cell,
  .tile-stack {
    width: $hexWidth2;
    height: $hexHeight2;
    background-size: $hexBackgroundSize2;
  }
}

div#map.map-zoom-3 {
  .map-cell,
  .tile-stack {
    width: $hexWidth3;
    height: $hexHeight3;
    background-size: $hexBackgroundSize3;
  }
}
