
$hexWidth1: 50px;
$hexHeight1: 60px;
$hexBackgroundSize1: 51px;

$hexWidth2: 100px;
$hexHeight2: 120px;
$hexBackgroundSize2: 102px;

$hexWidth3: 150px;
$hexHeight3: 180px;
$hexBackgroundSize3: 152px;

/* ZOOM LEVEL 1 */

.map-cell {
  margin-top: -15px;
}

.map-cell,
.tile-stack {
  width: $hexWidth1;
  height: $hexHeight1;
  background-size: $hexBackgroundSize1;
}

.map-shift {
  width: 20px;
}

form.work-tile {
  width: $hexWidth1/2;
  height: $hexHeight1/2;
  background-size: $hexBackgroundSize1/2;
  margin: $hexHeight1/4 $hexWidth1/4;
  border-radius: $hexHeight1/4 $hexWidth1/4;
}

.layer-unit {
  background-size: auto 45px;
}

/* ZOOM LEVEL 2 */

div#map.map-zoom-2 {
  .map-cell {
    margin-top: -31px;
  }

  .map-cell,
  .tile-stack {
    width: $hexWidth2;
    height: $hexHeight2;
    background-size: $hexBackgroundSize2;
  }

  .map-shift {
    width: 45px;
  }

  form.work-tile {
    width: $hexWidth2/2;
    height: $hexHeight2/2;
    background-size: $hexBackgroundSize2/2;
    margin: $hexHeight2/4 $hexWidth2/4;
    border-radius: $hexHeight2/4 $hexWidth2/4;
  }

  .layer-unit {
    background-size: auto 90px;
  }
}

/* ZOOM LEVEL 3 */

div#map.map-zoom-3 {
  .map-cell {
    margin-top: -48px;
  }

  .map-cell,
  .tile-stack {
    width: $hexWidth3;
    height: $hexHeight3;
    background-size: $hexBackgroundSize3;
  }

  .map-shift {
    width: 70px;
  }

  form.work-tile {
    width: $hexWidth3/2;
    height: $hexHeight3/2;
    background-size: $hexBackgroundSize3/2;
    margin: $hexHeight3/4 $hexWidth3/4;
    border-radius: $hexHeight3/4 $hexWidth3/4;
  }

  .layer-unit {
    background-size: auto 135px;
  }
}
