
.layer-edge-dark,
.layer-edge-fog {
  background-image: url(/images/map/edge.png);
}

.layer-edge-fog {
  opacity: 0.5;
}

.layer-edge-coast {
  background-image: url(/images/map/coast.png);
}

.layer-edge-territory.territory-1 {
  background-image: url(/images/map/player1.png);
}

.layer-edge-territory.territory-2 {
  background-image: url(/images/map/player2.png);
}

// ROTATIONS

.side-left {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.side-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.side-top-left {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.side-top-right {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.side-bottom-left {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  margin-left: -2px;
}

.side-bottom-right {
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg);
  margin-left: 2px;
}

// ROADS (SEPARATE IMAGES INSTEAD OF ROTATION)

.layer-road-lone {
  background-image: url(/images/map/road/lone.png);
}

.layer-road-left {
  background-image: url(/images/map/road/left.png);
}

.layer-road-right {
  background-image: url(/images/map/road/right.png);
}

.layer-road-top-left {
  background-image: url(/images/map/road/top-left.png);
}

.layer-road-top-right {
  background-image: url(/images/map/road/top-right.png);
}

.layer-road-bottom-left {
  background-image: url(/images/map/road/bottom-left.png);
}

.layer-road-bottom-right {
  background-image: url(/images/map/road/bottom-right.png);
}
