
.layer-edge-dark {
  background-image: url(/images/map/edge.png);
  background-size: $hexBackgroundSize;
}

.side-left {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.side-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.side-top-left {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.side-bottom-left {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
