
.layer-edge-dark {
  background-image: url(/images/map/edge.png);
  background-size: $hexBackgroundSize;
}

.side-left {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.side-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.side-top-left {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.side-top-right {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.side-bottom-left {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.side-bottom-right {
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
