
<div id="menu-link-container">
    <div class="menu-link menu-units" item="units"> units </div>
    <div class="menu-link menu-cities" item="cities"> cities </div>
    <div class="menu-link menu-research" item="research"> research </div>
</div>

<div class="menu menu-units">
    <% currentTurnUnits.forEach(unit => { %>
        <% include ./units %>
    <% }); %>
</div>

<div class="menu menu-cities">
    <% currentTurnCities.forEach(city => { %>
        <% include ./cities %>
    <% }); %>
</div>

<div class="menu menu-research info-box">
    Current research:
    <ul>
        <li>
            <% if (currentPlayer.researchCurrent == null ) { %>
                none
            <% } else { %>
                <%= technologyList[currentPlayer.researchCurrent].name %>
            <% } %>
        </li>
    </ul>
    Choose research:
    <ul>
        <% technologyList.forEach((tech, i) => { %>
            <li>
                <a href="/chooseResearch/<%= i %>"><%= tech.name %></a>
            </li>
        <% }); %>
    </ul>
</div>
