<!DOCTYPE html>
<html>
<head>
    <title>Error | Civilization</title>

    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</body>
</html>
