<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Civilization</h1>
    <p>Current game = <%= game.name %></p>
    <p>Turn number = <%= game.turn %></p>

    <form action="/endTurn" method="POST">
        <button type="submit">end turn</button>
    </form>
</body>
</html>
