<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Civilization</h1>
    <p>Civilization</p>
</body>
</html>
