<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Load Game</h1>

    <% games.forEach(game => { %>
        <p>
            <a href="/loadGame/<%= game._id %>"><%= game.name %></a>
        </p>
    <% }); %>
</body>
</html>
