<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>

    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/load.css"/>

    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
    <h1>Load Game</h1>

    <p>
        or <a href="/newGame">start new game</a>
    </p>

    <h2>Select game:</h2>

    <ul>
        <% games.forEach(game => { %>
            <li><a href="/loadGame/<%= game._id %>"><%= game.name %></a></li>
        <% }); %>
    </ul>
</body>
</html>
