<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>New Game</h1>

    <p>
        or <a href="/loadGame">load existing game</a>
    </p>

    <h2>Create game:</h2>

    <form action="/newGame" method="POST">
        <p>
            <b>Name:</b>
            <input type="text" name="name">
        </p>

        <% for (let i = 0; i < 2; i++) { %>
            <h3>Player <%= i + 1 %>:</h3>

            <p>
                <b>Name:</b>
                <input type="text" name="playername_<%= i %>" value="Player <%= i + 1%>">
            </p>
        <% } %>

        <p>
            <button type="submit">submit</button>
        </p>
    </form>
</body>
</html>
