/* ALL VIEWS */
* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

html, body {
  height: 100%;
  width: 100%;
  background-color: black; }

table {
  border-collapse: collapse; }

a {
  color: #00B7FF; }

button:disabled {
  color: #333; }

.red {
  color: red; }

/* PRE-GAME VIEWS */
.middlebox {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 30px;
  padding: 30px; }

/* GAME PLAY */
html, body {
  overflow: hidden; }

#next-action {
  position: absolute;
  z-index: 150;
  top: 40px;
  left: 260px; }

#next-action button {
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 10px; }

.view-unit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 50;
  display: none;
  border: 2px solid gray;
  margin-top: 10px;
  padding: 10px;
  color: #fce8cc; }

.city-roster,
.unit-roster {
  background-color: #eee;
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px; }

.city-roster.done,
.unit-roster.done {
  background-color: #999; }

#tile-details {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  width: 150px;
  background-color: gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px; }

img.production-icon {
  height: 20px; }

#game-header {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 33px;
  background-color: black;
  border-bottom: 3px solid gray;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 50px;
  cursor: default; }
  #game-header button {
    border-radius: 5px;
    line-height: 14px;
    width: 14px;
    cursor: pointer; }
  #game-header button:disabled {
    color: #dfdfdf;
    cursor: default; }

.header-image, .header-text {
  display: inline-block;
  height: 100%;
  vertical-align: top; }

.header-image img {
  height: 20px;
  margin: 5px 0 0 10px; }

.header-text {
  color: #fce8cc;
  font-size: 14px;
  line-height: 30px;
  margin-right: 5px; }
  .header-text form {
    padding-top: 5px; }

.header-science {
  color: #82ddff; }

.header-money {
  color: yellow; }

.header-culture {
  color: #ff00ff; }

.info-box {
  padding: 10px;
  color: #fce8cc;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: black; }

.info-box ul {
  margin-left: 20px; }

div#map {
  position: absolute;
  top: 15px;
  left: -25px;
  z-index: 0;
  display: inline-block;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-top: 50px;
  vertical-align: top;
  text-align: center; }

.map-row {
  display: none;
  white-space: nowrap; }

.map-shift {
  display: inline-block;
  width: 20px; }

.map-cell.off-screen {
  display: none; }

.map-cell.clickable, .map-cell.clickable div {
  cursor: pointer; }

#map.test-show-tile-borders .map-cell.boardnum-1 {
  border: 1px solid white; }

#map.test-show-tile-borders .map-cell.boardnum-0,
#map.test-show-tile-borders .map-cell.boardnum-2 {
  border: 1px solid red; }

#map.test-show-tile-borders .map-cell.off-screen.boardnum-1 {
  border-color: #555; }

#map.test-show-tile-borders .map-cell.off-screen.boardnum-0,
#map.test-show-tile-borders .map-cell.off-screen.boardnum-2 {
  border-color: pink; }

#map.test-show-tile-borders .map-cell.center {
  border-color: blue; }

.map-cell,
.tile-stack {
  width: 50px;
  height: 60px;
  background-size: 51px; }

div#map.map-zoom-2 .map-cell,
div#map.map-zoom-2 .tile-stack {
  width: 100px;
  height: 120px;
  background-size: 102px; }

div#map.map-zoom-3 .map-cell,
div#map.map-zoom-3 .tile-stack {
  width: 300px;
  height: 180px;
  background-size: 152px; }

/* TILE STACK APPLIES TO ALL "layer-" DIVS */
.map-cell {
  display: inline-block;
  text-align: center;
  margin-left: -5px;
  margin-bottom: -3px;
  margin-top: -15px; }

.tile-stack {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center; }

/* TERRAIN */
.layer-water {
  background-image: url(/images/map/water.png); }

.layer-grassland {
  background-image: url(/images/map/grassland.png); }

/* ROAD */
.layer-road {
  background-size: 60px; }

.layer-road.road-lone {
  background-image: url(/images/map/road/lone.png); }

.layer-road.road-left {
  background-image: url(/images/map/road/left.png); }

.layer-road.road-right {
  background-image: url(/images/map/road/right.png); }

.layer-road.road-top {
  background-image: url(/images/map/road/top.png); }

.layer-road.road-bottom {
  background-image: url(/images/map/road/bottom.png); }

/* PLAYER TERRITORY */
.layer-territory.territory-1 {
  background-color: rgba(250, 60, 250, 0.5); }

.layer-territory.territory-2 {
  background-color: rgba(250, 10, 150, 0.5); }

/* FOG */
.layer-fog {
  background-image: url(/images/map/dark.png);
  opacity: 0.5; }

#map.test-hide-fog-tiles .layer-fog {
  opacity: 1; }

/* FEATURES ABOVE TERRAIN */
.layer-mountain {
  background-image: url(/images/map/mountain.png);
  background-size: 60px; }

.layer-hill {
  background-image: url(/images/map/hill.png);
  background-size: 50px; }

.layer-forest {
  background-image: url(/images/map/forest.png);
  background-size: 60px; }

.layer-city {
  background-image: url(/images/city.png);
  background-size: 70px; }

.layer-improvement.improvement-farm {
  background-image: url(/images/map/farm.png);
  background-size: 50px; }

.layer-improvement.improvement-mine {
  background-image: url(/images/map/mine.png);
  background-size: 50px; }

/* UNITS */
.layer-unit {
  background-size: auto 45px; }

.map-cell.fog .layer-unit {
  display: none; }

.layer-unit.unit-worker {
  background-image: url(/images/units/worker.png); }

.layer-unit.unit-settler {
  background-image: url(/images/units/settler.png); }

.layer-unit.unit-scout {
  background-image: url(/images/units/scout.png); }

.layer-unit.unit-galley {
  background-image: url(/images/units/galley.png); }

/* ACTIVE UNIT OR CITY */
.map-cell.active .layer-highlight {
  background-image: url(/images/spinning.gif);
  background-size: 45px; }

/* UNIT MOVEMENT FORMS */
form.move-unit {
  height: 98%;
  width: 98%;
  background-image: url(/images/pointing.gif);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center; }

form.move-unit:hover {
  cursor: pointer;
  opacity: 1; }

form.move-unit.right {
  /* for some reason, the hover effect is broken for this direction when this code is absent */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

form.move-unit.left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

form.move-unit.down-right {
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg); }

form.move-unit.up-right {
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg); }

form.move-unit.down-left {
  -webkit-transform: rotate(125deg);
  transform: rotate(125deg); }

form.move-unit.up-left {
  -webkit-transform: rotate(-125deg);
  transform: rotate(-125deg); }

/* CITY TILE FORMS */
form.work-tile {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center; }

form.work-tile.working-true,
form.work-tile.working-false:hover {
  background-image: url(/images/worktile-true.png);
  cursor: pointer; }

form.work-tile.working-false {
  background-image: url(/images/worktile-false.png); }

form.work-tile.working-disabled {
  background-image: url(/images/worktile-disabled.png); }

.layer-edge-dark,
.layer-edge-fog {
  background-image: url(/images/map/edge.png); }

.layer-edge-fog {
  opacity: 0.5; }

.side-left {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.side-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.side-top-left {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.side-top-right {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg); }

.side-bottom-left {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  margin-left: -2px; }

.side-bottom-right {
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg);
  margin-left: 2px; }

#menu-link-container {
  position: absolute;
  top: 35px;
  left: 10px;
  z-index: 50; }

.menu-link {
  display: inline-block;
  width: 50px;
  background-size: 50px;
  background-position: top center;
  background-repeat: no-repeat;
  color: transparent;
  text-align: center;
  padding-top: 50px; }

.menu-link:hover, .menu-link.active {
  cursor: pointer;
  color: #fce8cc; }

.menu-link.menu-units {
  background-image: url(/images/menu-units-false.png); }

.menu-link.menu-units.active,
.menu-link.menu-units:hover {
  background-image: url(/images/menu-units-true.png); }

.menu-link.menu-cities {
  background-image: url(/images/menu-units-false.png); }

.menu-link.menu-cities.active,
.menu-link.menu-cities:hover {
  background-image: url(/images/menu-units-true.png); }

.menu-link.menu-research {
  background-image: url(/images/menu-units-false.png); }

.menu-link.menu-research.active,
.menu-link.menu-research:hover {
  background-image: url(/images/menu-units-true.png); }

#close-all-menus {
  position: absolute;
  top: 105px;
  left: 160px;
  z-index: 50;
  display: none;
  background-color: black;
  color: white;
  padding: 3px 5px;
  border-radius: 5px; }

#close-all-menus:hover {
  cursor: pointer;
  text-decoration: underline; }

.menu {
  position: absolute;
  top: 130px;
  left: 10px;
  z-index: 50;
  display: none;
  width: 200px; }

.menu-research p {
  margin-top: 10px; }

.view-city {
  display: none;
  position: absolute;
  z-index: 100; }

.view-city-top,
.view-city-bottom {
  width: 100%;
  padding: 10px;
  color: #fce8cc;
  text-align: center; }

.view-city-top {
  top: 40px; }

.view-city-top h1 {
  font-size: 20px;
  font-weight: bold; }

.view-city-bottom {
  bottom: 20px; }

.view-city-left, .view-city-right {
  top: 0;
  overflow: scroll;
  max-height: 90%;
  margin-top: 40px; }

.view-city-left {
  left: 0;
  width: 220px;
  margin-left: 7px; }

.view-city-right {
  right: 0;
  margin-right: 7px; }

.view-city .close {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: gray; }

.view-city .close:hover {
  cursor: pointer; }

.view-city .section {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid gray; }

img.project-logo {
  height: 45px; }

.city-building-list {
  margin-top: 10px; }

.city-building-list .descr {
  display: inline-block;
  vertical-align: top;
  width: 195px; }

.city-building-list h3 {
  font-weight: bold;
  font-size: 14px; }

.city-building-list .production {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  text-align: right; }

.city-building-list .production.large {
  width: 65px; }
