
div#map {
  position: absolute;
  top: 0;
  left: -25px;
  z-index: 0;
  display: inline-block;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-top: 50px;
  vertical-align: top;
  text-align: center;
}

.map-row {
  display: none;
  white-space: nowrap;
}

.map-shift {
  display: inline-block;
  width: 25px;
}

.map-cell {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: -5px;
  margin-bottom: -3px;
}

.map-cell.clickable, .map-cell.clickable div {
  cursor: pointer;
}

.map-cell.notDiscovered {
  background-color: black;
}

.tile-stack {
  height: 50px;
  width: 50px;
  position: absolute;
}

.tile-stack {
  background-repeat: no-repeat;
  background-position: center;
}

.layer-water {
  background-image: url(/images/map/water.png);
  background-size: 90px;
}

.layer-curve-top-left {
  border-top-left-radius: 20px;
}

.layer-curve-top-right {
  border-top-right-radius: 20px;
}

.layer-curve-bottom-left {
  border-bottom-left-radius: 20px;
}

.layer-curve-bottom-right {
  border-bottom-right-radius: 20px;
}

.layer-ground.ground-grassland {
  background-image: url(/images/map/grassland.png);
  background-size: 90px;
}

.layer-mountain {
  background-image: url(/images/map/mountain.png);
  background-size: 60px;
}

.layer-hill {
  background-image: url(/images/map/hill.png);
  background-size: 50px;
}

.layer-forest {
  background-image: url(/images/map/forest.png);
  background-size: 60px;
}

/* ROAD */

.layer-road {
  background-size: 60px;
}

.layer-road.road-lone {
  background-image: url(/images/map/road/lone.png);
}

.layer-road.road-left {
  background-image: url(/images/map/road/left.png);
}

.layer-road.road-right {
  background-image: url(/images/map/road/right.png);
}

.layer-road.road-top {
  background-image: url(/images/map/road/top.png);
}

.layer-road.road-bottom {
  background-image: url(/images/map/road/bottom.png);
}

/* FOG & EDGES */

.layer-fog {
  background-color: rgba(0, 0, 0, 0.5);
}

.layer-edge-side-dark {
  background-image: url(/images/map/edge.png);
  background-size: 60px;
}

.layer-edge-corner-dark {
  background-image: url(/images/map/edge-corner.png);
  background-size: 60px;
}

.corner-bottom-left,
.side-left {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.corner-top-left,
.side-top {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.corner-top-right,
.side-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.corner-bottom-right,
.side-bottom {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* */

.layer-territory.territory-1 {
  background-color: rgba(250, 60, 250, 0.5);
}

.layer-territory.territory-2 {
  background-color: rgba(250, 10, 150, 0.5);
}

.layer-city {
  background-image: url(/images/city.png);
  background-size: 70px;
}

.layer-improvement.improvement-farm {
  background-image: url(/images/map/farm.png);
  background-size: 50px;
}

.layer-improvement.improvement-mine {
  background-image: url(/images/map/mine.png);
  background-size: 50px;
}

.layer-unit {
  background-size: auto 45px;
}

.map-cell.fog .layer-unit {
  display: none;
}

.layer-unit.unit-worker {
  background-image: url(/images/units/worker.png);
}

.layer-unit.unit-settler {
  background-image: url(/images/units/settler.png);
}

.layer-unit.unit-scout {
  background-image: url(/images/units/scout.png);
}

.layer-unit.unit-galley {
  background-image: url(/images/units/galley.png);
}

.map-cell.active .layer-highlight {
  background-image: url(/images/spinning.gif);
  background-size: 45px;
}

form.move-unit {
  height: 98%;
  width: 98%;
  background-image: url(/images/pointing.gif);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

form.move-unit:hover {
  cursor: pointer;
  opacity: 1;
}

form.move-unit.right {
  /* for some reason, the hover effect is broken for this direction when this code is absent */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

form.move-unit.down-right {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

form.move-unit.down-left {
  -webkit-transform: rotate(125deg);
  transform: rotate(125deg);
}

form.move-unit.left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

form.move-unit.up-left {
  -webkit-transform: rotate(235deg);
  transform: rotate(235deg);
}

form.move-unit.up-right {
  -webkit-transform: rotate(325deg);
  transform: rotate(325deg);
}

form.work-tile {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

form.work-tile.working-true,
form.work-tile.working-false:hover {
  background-image: url(/images/worktile-true.png);
  cursor: pointer;
}

form.work-tile.working-false {
  background-image: url(/images/worktile-false.png);
}

form.work-tile.working-disabled {
  background-image: url(/images/worktile-disabled.png);
}
