
#map table {
  /*width: 100%;*/
}

.map-row {
  display: none;
}

.map-cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

form.move-unit {
  height: 98%;
  width: 98%;
}

.map-cell.dark {
  background-color: #03210c;
}

.map-cell.discovered {
  background-color: #0b5b24;
}

.map-cell.lit {
  background-color: #2aba57;
}

.map-cell.player1.discovered {
  background-color: #19248c;
}

.map-cell.player1.lit {
  background-color: #757fe5;
}

.map-cell.player2.discovered {
  background-color: #872424;
}

.map-cell.player2.lit {
  background-color: #ff7777;
}

.map-cell {
  height: 50px;
  width: 50px;
}

.map-cell .unit {
  height: 45px;
  width: 45px;
}

.map-cell .unit img {
  height: 45px;
}

.map-cell .unit.turn:hover {
  cursor: pointer;
}

.map-cell.dark .rival.unit,
.map-cell.discovered .rival.unit {
  display: none;
}

.map-cell .unit.active {
  background-image: url(/images/spinning.gif);
  background-size: 45px;
}
