body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

a {
  color: #00B7FF;
}

.map-cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #0b5b24;
}

.map-cell.lit {
  background-color: #2aba57;
}

.unit.active {
  color: red;
}
