* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

table {
  border-collapse: collapse;
}

a {
  color: #00B7FF;
}

#game-sidebar, #game-map {
  display: inline-block;
  vertical-align: top;
}

#game-sidebar {
  width: 15%;
  padding: 25px;
  max-height: 100%;
}

#game-map {
  width: 80%;
  height: 100%;
}

#game-sidebar h1 {
  font-size: 20px;
  font-weight: bold;
}

#game-sidebar h2 {
  font-size: 15px;
  font-weight: bold;
}

#game-sidebar .info {
  margin: 10px;
}

.info.city {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 250px;
}

.info.city,
.info.unit {
  display: none;
  border: 2px solid black;
  margin-top: 10px;
  padding: 10px;
}

.info .close:hover {
  cursor: pointer;
}

.info.city div {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.info.city ul {
  margin-left: 20px;
}
