* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

table {
  border-collapse: collapse;
}

a {
  color: #00B7FF;
}

#next-action {
  position: absolute;
  z-index: 150;
  top: 40px;
  left: 260px;
}

#next-action button {
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 10px;
}

.view-unit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 50;
  display: none;
  border: 2px solid gray;
  margin-top: 10px;
  padding: 10px;
  color: #fce8cc;
}

.city-roster,
.unit-roster {
  background-color: #eee;
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.city-roster.done,
.unit-roster.done {
  background-color: #999;
}

#tile-details {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  width: 150px;
  background-color: gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

img.production-icon {
  height: 20px;
}

.red {
  color: red;
}

#game-header {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 33px;
  background-color: black;
  border-bottom: 3px solid gray;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 50px;
  cursor: default;
}

.header-image, .header-text {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.header-image img {
  height: 20px;
  margin: 5px 0 0 10px;
}

.header-text {
  color: #fce8cc;
  font-size: 14px;
  line-height: 30px;
  margin-right: 5px;
}

.header-science {
  color: #82ddff;
}

.header-money {
  color: yellow;
}

.header-culture {
  color: #ff00ff;
}
