
.view-city {
  display: none;
  position: absolute;
  z-index: 100;
}

.view-city-top,
.view-city-bottom {
  width: 100%;
  padding: 10px;
  color: #fce8cc;
  text-align: center;
}

.view-city-top {
  top: 40px;
}

.view-city-top h1 {
  font-size: 20px;
  font-weight: bold;
}

.view-city-bottom {
  bottom: 20px;
}

.view-city-left, .view-city-right {
  top: 0;
  overflow: scroll;
  max-height: 90%;
  margin-top: 40px;
}

.view-city-left {
  left: 0;
  width: 220px;
  margin-left: 7px;
}

.view-city-right {
  right: 0;
  margin-right: 7px;
}

.view-city .close {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: gray;
}

.view-city .close:hover {
  cursor: pointer;
}

.view-city .section {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
}

.view-city ul {
  margin-left: 20px;
}

img.project-logo {
  height: 45px;
}

.city-building-list {
  margin-top: 10px;
}

.city-building-list .descr {
  display: inline-block;
  vertical-align: top;
  width: 195px;
}

.city-building-list h3 {
  font-weight: bold;
  font-size: 14px;
}

.city-building-list .production {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  text-align: right;
}

.city-building-list .production.large {
  width: 65px;
}
