
<style>
    #game-header {
        height: 33px;
        background-color: black;
        border-bottom: 3px solid gray;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding-right: 50px;
        cursor: default;
    }

    .game-header-section {
    }

    .header-image, .header-text {
        display: inline-block;
        height: 100%;
        vertical-align: top;
    }

    .header-image img {
        height: 20px;
        margin: 5px 0 0 10px;
    }

    .header-text {
        color: #fce8cc;
        font-size: 14px;
        line-height: 30px;
        margin-right: 5px;
    }

    .header-money {
        color: yellow;
    }
</style>

<%
    let playerName = players[game.nextPlayer].name;
    let currentGold = players[game.nextPlayer].storage.gold;
    let income = players[game.nextPlayer].production.gold;
%>

<div>
    <div class="header-image">
        <img src="/images/gold.png" class="production-icon">
    </div>

    <div class="header-text header-money">
        <%= currentGold %> (<%= (income < 0 ? '-' : '+') + income %>)
    </div>
</div>

<div>
    <div class="header-text">
        <%= playerName %>
    </div>
    <div class="header-text">
        |
    </div>
    <div class="header-text">
        Turn: <%= game.turn %>
    </div>
    <div class="header-text">
        |
    </div>
    <div class="header-text">
        <a href="/exitGame">load different game</a>
    </div>
</div>
