<%
    let testShowFullMap = false;
    let testShowSectionBorders = false;
%>

<style>
<% if (testShowSectionBorders) { %>
    .map-cell.boardnum-1 {
      border: 1px solid white;
    }
    .map-cell.boardnum-0,
    .map-cell.boardnum-2 {
      border: 1px solid red;
    }
    .map-cell.off-screen.boardnum-1 {
      border-color: #555;
    }
    .map-cell.off-screen.boardnum-0,
    .map-cell.off-screen.boardnum-2 {
      border-color: pink;
    }
    .map-cell.center {
      border-color: blue;
    }
<% } %>

<% if (!testShowFullMap) { %>
    .map-cell.off-screen {
      display: none;
    }
<% } %>
</style>

<div id="map">
    <% map.forEach((row, r) => { %>
        <div class="map-row" row="<%= r %>">
            <% if (r % 2 == 0) { %>
                <div class="map-shift"> ! </div>
            <% } %>
            <% for (let boardnum = 0; boardnum < 3; boardnum++) { %>
                <% row.forEach((cell, c) => { %>
                    <% include ./mapCell %>
                <% }); %>
            <% } %>
        </div>
    <% }); %>
</div>
