
<%
    let mapClassName = '';

    if (testing.showMapCellBorders) {
        mapClassName += ' test-show-tile-borders';
    }

    if (testing.hideFogTiles) {
        mapClassName += ' test-hide-fog-tiles';
    }
%>

<div id="map" class="<%= mapClassName %>">
    <% map.forEach((row, r) => { %>
        <div class="map-row" row="<%= r %>">
            <% const shiftRow = r % 2 == 0; %>
            <% if (shiftRow) { %>
                <div class="map-shift"> ! </div>
            <% } %>
            <% for (let boardnum = 0; boardnum < 3; boardnum++) { %>
                <% row.forEach((cell, c) => { %>
                    <% include ./mapCell %>
                <% }); %>
            <% } %>
        </div>
    <% }); %>
</div>
