
<style>
<% if (testing.hideFogTiles) { %>
    .layer-fog {
      background-color: rgba(0, 0, 0, 1);
    }
<% } else { %>
    .layer-fog {
      background-color: rgba(0, 0, 0, 0.5);
    }
<% } %>
</style>

<% if (testing.showMapCellBorders) { %>
    <div id="map" class="show-test-borders">
<% } else { %>
    <div id="map">
<% } %>
    <% map.forEach((row, r) => { %>
        <div class="map-row" row="<%= r %>">
            <% const shiftRow = r % 2 == 0; %>
            <% if (shiftRow) { %>
                <div class="map-shift"> ! </div>
            <% } %>
            <% for (let boardnum = 0; boardnum < 3; boardnum++) { %>
                <% row.forEach((cell, c) => { %>
                    <% include ./mapCell %>
                <% }); %>
            <% } %>
        </div>
    <% }); %>
</div>
