
<%
    const needsResearch = playerRef[turnPlayerId].researchCurrent == null
        && playerRef[turnPlayerId].production.science > 0
        && technologyList.filter(tech => tech.isAvailable).length > 0;
%>

<div id="next-action">
    <% currentTurnUnits.forEach(unit => { %>
        <%
            if (unit.orders || unit.movesRemaining == 0 || unit.automate) {
                return;
            }
        %>
        <div class="next-action" unit-id="<%= unit._id %>">
            <button onClick="setActiveUnit('<%= unit._id %>')">unit needs orders</button>
        </div>
    <% }); %>

    <% currentTurnCities.forEach(city => { %>
        <%
            if (city.project.category) {
                return;
            }
        %>
        <div class="next-action" city-id="<%= city._id %>">
            <button onClick="setActiveCity('<%= city._id %>')">city needs project</button>
        </div>
    <% }); %>

    <% if (needsResearch) { %>
        <div class="next-action">
            <button onClick="openMenu('research')">choose research</button>
        </div>
    <% } %>

    <form id="end-turn" class="next-action" action="/endTurn" method="POST">
        <button type="submit">end turn</button>
    </form>
</div>
