
<div class="info">
    <form id="end-turn" action="/endTurn" method="POST">
        <% if (canEndTurnNow) { %>
            <button type="submit">end turn</button>
        <% } else { %>
            <button type="submit" disabled="true">end turn</button>
        <% } %>
    </form>
</div>

<% currentTurnUnits.forEach(unit => { %>
    <% include ./unitScreen %>
<% }); %>

<div class="info tile">
    tiles
</div>
